.DS_Store
node_modules/
dist/
dist*
npm-debug.log
npm-debug.log.*
yarn-error.log
yarn-error.log.*
test/unit/coverage
.vscode
.idea
.vs
.vs/*
.log
.log/*
.log/*.log.*
**/*/*.log
.data
.data/*
config/
answertool/.*.json
**/*/.svn/
downloads/
its-client-electron.zip
its-client-electron/answertool/.students.json
dist1/
publish
app/*